<div class="app-container">
  <mat-toolbar color="primary">
    <span>Разделяне на сметка</span>
    <div class="spacer"></div>
    <nav>
      <a mat-button routerLink="/upload" routerLinkActive="active">
        <mat-icon>upload</mat-icon>
        Качване на касова бележка
      </a>
      <!-- <a mat-button routerLink="/bills" routerLinkActive="active">
        <mat-icon>receipt_long</mat-icon>
        Моите сметки
      </a> -->
    </nav>
  </mat-toolbar>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>